.footer {

        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(20, 18, 62);
        color: white;
        padding: 2rem 1rem;
        text-align: center;
    
    
}

.footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footerLinks h3,
.socialMedia h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footerLinks ul {
    list-style: none;
    padding: 0;
}

.footerLinks li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.footerLinks li a:hover {
    color: #3498db;
}

.socialIcons {
    display: flex;
    gap: 1rem;
}


.socialIcons a {
    text-decoration: none;
    color: #fff;


}
.socialIcons a:hover {
    color: #3498db;
}
.socialIcons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.socialIcons img:hover {
    transform: scale(1.1);
}

.copyright p {
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
    }

    .footerLinks,
    .socialMedia {
        width: 100%;
        text-align: center;
    }
}