.navbar {
    height: 60px;
    background-color:rgb(20, 18, 62);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;

}

.logolink{
    text-decoration: none;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    width: 20rem;
}

.navLinks li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navLinks li a:hover {
    color: #3498db;
}

.logoutBtn {
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.logoutBtn:hover {
    color: #e74c3c;
}

@media (max-width: 768px) {
    .navbar {
        gap: 1rem;
    justify-content: space-evenly;
    }

    .navLinks {
        gap: 1rem;
        text-align: center;
    }
}